[default]
stop_crit = 1e-9
lr = 0.0001
num_workers = 1
momentum = 0.9
seed = 1
log_interval = 1000
epochs = 1000
ind_id = 1
exp_id = default
dataset = netflix
noise = 0
poly_deg = 0

extr_sco_dep = False

cuda = False
optim = GD
scnd_order_weight = 0
prior_annot_incons = 0.00

note = None
start_mode = base_init
true_scores_init = tsInitBase
bias_init = bInitBase
diffs_init = dInitBase
incons_init = iInitBase

train_mode = joint
alt_epoch_nb = 50
param_not_gt = trueScores,bias,diffs,incons
perc_noise = 0

prior = uniform
prior_weight = 0

param_to_opti = trueScores,bias,diffs,incons

score_dis = Beta
score_min = 1
score_max = 5

div_beta_var = 1
prior_update_frequ = 50

ref_vid_to_score_max = True
