[default]
stop_crit = 1e-9
lr = 0.001
num_workers = 1
momentum = 0.5
seed = 1
log_interval = 1000
ind_id = 1
exp_id = default
dataset = NETFLIX

poly_deg = 0

param_name = nb_annot
param_min = 25
param_max = 29
nb_rep = 100

epochs = 500
erase_results = False
cuda = True
optim = GD
scnd_order_weight = 0
prior_annot_incons = 0.001
