[default]
stop_crit = 1e-9
lr = 0.001
num_workers = 1
momentum = 0.5
seed = 1
log_interval = 1000
ind_id = 1
exp_id = default
dataset = NETFLIX

poly_deg = 0

param_name = noise_percent
param_values = 0.1,0.2
nb_rep = 1

epochs = 1000
erase_results = False
cuda = True
optim = GD
scnd_order_weight = 0
prior_annot_incons = 0.00

model_param = prior_annot_incons
model_values = 0,100
